pip
certifi
ta
numpy
pandas
pandas_datareader
pandas_profiling
matplotlib
seaborn
pydeck
plotly
altair
yfinance
mplfinance
datetime
wordcloud
folium
scipy
scikit-learn
streamlit<1.42.0
streamlit_folium
ipykernel
jupyter
kagglehub
notebook
python-dotenv
#sqlalchemy
#duckdb
#duckdb-engine
prophet
wikipedia
google-adk
google-genai
google-generativeai
google-ai-generativelanguage
#openai
#langchain
#langchain-community
#langchain-experimental
#langchain-openai
