pip
certifi
numpy
pandas
pandas_datareader
pandas_profiling
matplotlib
seaborn
pydeck
plotly
altair
yfinance
mplfinance
ta
datetime
wordcloud
folium
streamlit
streamlit_folium
prophet
wikipedia
google-adk
google-genai
google-generativeai
google-ai-generativelanguage
streamlit<1.42.0
